node_modules/
out/
dist/
.env
*.enc
Gemini_Advice.md
/.ChainLens_Files/
ChainLens_Files/app-hub-data.js
ChainLens_Files/backend-server.js
ChainLens_Files/DESIGN.md
ChainLens_Files/index.html
ChainLens_Files/README.md
ChainLens_Files/stlyes.css
